<header class="header">
  <h1 class="headline">Loopback and Angular2 <br/><small>by BLOASE</small></h1>
  <ul class="header-subnav">
    <li><a href="#" class="is-active">Notes example</a></li>
    <li><a target="_blank" href="https://loopback.io/">Loopback</a></li>
    <li><a target="_blank" href="https://angular.io/">Angular</a></li>
  </ul>
</header>

<div class="content row">
    <div class="medium-6 large-9 columns">
        <div class="noteItem" *ngFor="let note of noteList">
            <h2>{{ note.title }}</h2>
            <pre>{{ note.content }}</pre>
        </div>
    </div>
    <div class="medium-6 large-3 columns">
        <textarea></textarea>
    </div>
</div>