<header class="header">
  <h1 class="headline">Loopback and Angular2 <br/><small>by BLOASE</small></h1>
  <ul class="header-subnav">
    <li><a href="#" class="is-active">Notes example</a></li>
    <li><a target="_blank" href="https://loopback.io/">Loopback</a></li>
    <li><a target="_blank" href="https://angular.io/">Angular</a></li>
  </ul>
</header>

<div class="row">
    <div class="medium-6 columns">
        {{ noteList }}
    </div>
    <div class="medium-6 columns">
        <textarea></textarea>
    </div>
</div>